body{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: darkblue;
}

h2{
    color: darkmagenta;
}

nav{
    background-color: black;
    text-align: center;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
}

section{
    background-color: white;
    padding: 20px;
    margin: 20px;
}

#Inicio{
    background-color: lightcoral;
}

.nome{
    color: brown;
}


.cabecalho{
    text-align: center;
}
