* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: darkblue;
}

h2{
    color: darkmagenta;
}

nav{
    background-color: black;
    text-align: center;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
}

nav a:hover {
  color: blue;
  border-radius: 10px;
}

section{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid;
}
section:hover{
    border: 2px solid lightgray;
}

#Inicio{
    background-color: lightcoral;
}

.nome{
    color: brown;
}


.cabecalho{
    text-align: center;
}

main{
    max-width: 900px;
    margin: auto;
}
